<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>My Campaigns</h2>
<%= render @user.campaigns %>
<%= link_to 'Create New Campaign', new_campaign_path, :class => 'button'%>

<h2>My Characters</h2>
<%= render @user.characters %>
