<%= div_for character do %>
  <%= image_tag character.token.url(:small) %>
  <div class="info">
    <h4><%= character.name %></h4>
    <p><%= character.player.name %></p>
    <p><%= character.campaign.title %></p>
  </div>
<% end %>
