<h1><%= @character.name %></h1>
<div class="description"><%= @character.description %></div>

<table>
<% Character::ABILITIES.each do |ability| %>
  <tr>
    <td><%= ability.to_s.upcase %></td>
    <td><%= @character.send(ability) %></td>
    <td><%= @character.ability_mod(ability) %></td>
    <td><%= @character.ability_chk(ability) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
