<p>
  <b>Gm:</b>
  <%= @campaign.gm.name %>
</p>

<p>
  <b>Title:</b>
  <%= @campaign.title %>
</p>

<p>
  <b>Description:</b>
  <%= @campaign.description %>
</p>

<h2>Characters</h2>
<div class="characters">
  <%= render @campaign.characters %>
</div>

<ul>
  <li><%= link_to 'Edit', edit_campaign_path(@campaign) %></li>
</ul>
