<!DOCTYPE html>
<html>
<head>
	<title>RpgTracker</title>
	<%= stylesheet_link_tag 'reset', 'main' %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>
<div id="header"><div class="clearfix">
	<h1>RPG Tracker</h1>
</div></div>
<div id="content"><div class="clearfix">
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<%= yield %>
</div></div>
<div id="footer"><div class="clearfix">
</div></div>

</body>
</html>
